<section class="section brd-btm" id="education">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">教育经历</h2>

            <div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/school.jpg' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="54" width="54">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>石家庄铁道大学</strong>
                        <span>2020 - 今 | 软件工程</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>积极学习计算机专业基础知识，无挂科现象。平均绩点3.0，并获得二等奖学金，优秀团员等。
                        </p>
                        <p>积极参与中国软件杯2023年的C-智能四足机器狗电力巡检系统开发赛题
                        </p>
                        <p>参加读书协会，积极参与读书分享活动，负责协会的公众号的推文运营。同时参与计算机系的壹青年，发表过多篇推文。。
                        </p>
                    </blockquote>
                </div>
            </div><!-- .ref-box -->
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->
