<section class="section brd-btm" id="certification">
    <h2 class="title-thin text-muted">个人性格</h2>

 <div class="row">
    <div class="ref-info">
                    <blockquote class="ref-cont clear-mrg">
                        <p>&nbsp;&nbsp;&nbsp;&nbsp; 我的性格偏于内向，为人坦率、吃苦耐劳、自学能力较强。参加读书协会和壹青年，负责公众号推文运营。
                        </p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;想象力丰富，好奇心旺盛，但同时脚踏实地，肯动手工作。
                        </p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;有良好的沟通能力，善于与他人相处，富有团队合作精神，具有一定的团队组织能力
                        </p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp; 喜欢跑步和网球，也喜欢追番看动漫
                        </p>
                    </blockquote>
     </div>
     
 </div>
</section><!-- .section -->
