<section class="section brd-btm" id="experience">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">项目经历</h2>
            <br />
            <div class="education">
                <div class="education-box">
                    <time class="education-date" datetime="2020">
                        <span>Jan <strong class="text-upper">2020</strong> - <strong>2020</strong></span>
                    </time>
                    <h3>Java Developer</h3>
                    <span class="education-company">河北重大技术需求征集系统</span>
                    <p>使用语言为JAVA, HTML, CSS</p>
                    <p>独立开发</p>
                    <p>。。。</p>
                </div>
                <!-- .education-box -->

                <div class="education-box">
                    <time class="education-date" datetime="2020">
                        <span>Jan <strong class="text-upper">2020</strong> - <strong>2020</strong></span>
                    </time>
                    <h3>Java Developer</h3>
                    <span class="education-company">C-智能四足机器狗电力巡检系统开发 | 中国大学生计算机设计大赛</span>
                    <p>使用语言为Python，Java</p>
                    <p>负责数据集的训练</p>
                    <p>参与部分文档撰写</p>

                </div>
                <!-- .education-box -->


            </div>
        </div>
    </div>
</section><!-- .section -->
